{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Books {% endblock %}</h1>
    {% for pok in poke %}
        <div class='pok'>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pok[0]}}.png" alt="text">
            <h3>#{{ pok[0] }} - {{ pok[1] }} BY {{ pok[2] }}</h3>
            <i><p>({{ pok[3] }} pages)</p></i>
            <p class='review'>{{ pok[4] }}</p>
            <i><p>Added {{ pok[5] }}</p></i>
        </div>
    {% endfor %}
{% endblock %}