{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Moves {% endblock %}</h1>
    <div class='pok'>
        <table class="center">
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Power</th>
              <th>PP</th>
              <th>Accuracy</th>
              <th>Priority</th>
              <th>Damage</th>
              <th style="text-align:left">Effect</th>
            </tr>
            {% for mov in move %}
            <tr>
                <td>{{mov[0].capitalize()}}</td>
                <td>{{mov[1].capitalize()}}</td>
                <td>{{mov[2]}}</td>
                <td>{{mov[3]}}</td>
                <td>{{mov[4]}}</td>
                <td>{{mov[5]}}</td>
                <td>{{mov[6].capitalize()}}</td>
                <td style="text-align:left">{{mov[7]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h1>Pokemon</h1>
    <div class='pok'>
        <table class="center">
            <tr>
                <th style="padding:0 100px"><h3>Image</h3></th>
                <th><h3>Dex#</h3></th>
                <th><h3>Name</h3></th>
                <th><h3>Type 1</h3></th>
                <th><h3>Type 2</h3></th>
                <th><h3>Height (m)</h3></th>
                <th><h3>Weight (kg)</h3></th>
            </tr>
            {% for pok in poke %}  
            <tr>
                <td class="tbl"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pok[3]}}.png" alt="{{pok[0]}}" style="align-self:left;height:200%;width:200%;"></td>
                <td><h3>{{pok[4]}}</h3></td>
                <td><h3>{{pok[0].capitalize()}}</h3></td>
                <td><h3>{{pok[1]}}</h3></td>
                <td><h3>{{pok[2]}}</h3></td>
                <td><h3>{{pok[5]}}</h3></td>
                <td><h3>{{pok[6]}}</h3></td>
            </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}